.App {
  text-align: center;
}
.todo-app {
  background-color: #efefef;
  padding: 1.2em;

  .new-todo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .btn {
      margin: 1.2em 0 0 0;
    }

    @media (min-width: 1200px) {
      flex-direction: row;

      input {
        width: auto;
        flex-grow: 1;
      }

      .btn {
        margin: 0 0 0 1.2em;
      }
    }
  }

  .alert {
    margin: 1.2em 0 0 0;
  }
}

//.list-group-item{
//  &.active:hover{
//
//  }
//  &active:hover{
//    background-color: #d3d3d3;
//  }
//}